@charset "utf-8";

/* common */
body {
    background-image: url('../images/bcg.jpg');
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

/* メニューバーを固定 */
#menu {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}


/* メイン画像 */
#mainVisual {
    width: 360px;
    margin: 20px auto;
}

#mainVisual img {
    width: 360px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444444;
}

/* 画像登録のプレビュー表示 */
#preview img {
    width: 100%;
}


/* 職員一覧のプロフィール画像 */
#image_icon_list {
    width: 100px;
    border-radius: 10px;
}

/* 各職員のプロフィール画像 */
#image_icon {
    width: 200px;
    box-shadow: 0 0 10px #444444;
    border-radius: 10px;
}

/* 職員プロフィールの各コンテンツのサブタイトル*/
#sub_title {
    font-size: 24px;
}


/* 利用者登録情報の画像資料 */
#patients_img {
    width: 200px;
}

/* 相談記録関連の画像　*/
#case_photo {
    width: 90px;
}

#case_detail_photo {
    width: 200px;
}

/* 相談記録文字列 */
#case {
    text-align: left;
}

/* 業務日誌の画像資料 */
#log_photo {
    width: 200px;
}
