@charset "utf-8";

/* common */
body {
    background-image: url('../images/bcg.jpg');
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

/* メニューバーを固定 */
#menu {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}


/* メイン画像 */

#mainVisual {
    width: 370px;
    margin: 40px auto;
}

#mainVisual img {
    width: 370px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 0 10px #444444;
}

/* 利用者登録情報の画像資料 */
#patients_img {
    width: 200px;
}

/* ケース記録関連の画像　*/

#case_photo {
    width: 100px;
    height: 80px;
}

#case_detail_photo {
    width: 300px;
    height: 200px;
}

/* ケース記録文字列 */
#case {
    text-align: left;
}